<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">

    <properties>
        <property name="base">./logs</property>
    </properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}{UTC} [%t] %p %c{1} - %m%n</pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="RollingFile" fileName="${base}/sd.log"
                     filePattern="${base}/$${date:yyyy-MM}/sd-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}{UTC} [%t] %p %c{1} - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>
